/*-------------------------------------------------------------------------------------*/
/*	PLACE YOUR CUSTOM CSS RULES HERE
/*-------------------------------------------------------------------------------------*/

.fullscreen-caption-text {
	padding: 0px 0px 0px 135px;
}
.pro2 a:link {
    text-decoration: none;
	color: #000;
}
.pro2 a:visited {
    text-decoration: none;
	color: #000;
}
.pro2 a:hover {
    text-decoration: none;
	color: #5bc;
}
.pro2 a:active {
    text-decoration: none;
	color: #f90;
}
.small2 {
	font-size: .5em;
}